python-import_modules/ calculator_1.py
python-import_modules/add_0.py
python-import_modules/__pycache__/add_0.cpython-310.pyc
python-import_modules/hidden_4.pyc
*.cpython-310.pyc
*-main.py
python-input_output/*.json
python-input_output/*.txt
python-almost_a_circle/*.json
javascript-dom_manipulation/*main.html
